<% include partials/landing-header %>

<div class="landing-container">
        
    <div class="landing "> 
            <div class="overlay">
                    <div class="landing-title">
                        <h1 class="display-1">Bergen STEM</h1>
                    </div>            
                </div>
        <canvas id="myCanvas"></canvas>
    
    </div>
</div>

<div class="content-container">
    <div class="content">
            <div class="content-text">
                <h4>About</h4>            
                <p>
                    At Bergen Community College, our mission is to provide our
                    STEM students with the skills essential to success at
                    4-year institutions and beyond. 

                </p>
                <p>
                    <a href="#">Learn more</a>
                </p>
            </div>
            <div class="content-text">
                    <h4>Research</h4>
                <p>
                    From rockets to algae biodiesel, Bergen Community college
                    offers STEM students a wide variety of research opportunities.
                </p>
                <p>
                    <a href="./projects">Student Projects</a>
                </p>
            </div>
            <div class="content-text">
                <h4>Join STEM</h4>
                <p>                    
                   Learn some of the benefits of pursuing a career in Science,
                   Technology, Engineering, and Mathematics.
                </p>
                <p>
                    <a href="./about">Benefits of STEM</a>
                </p>
            </div>
        </div>
<div class="background-fluid">
    <div class="info">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/n1hHr62viSU" allowfullscreen></iframe>
        </div>
        <div class="info-content">
            <h4>Students Talk STEM</h4>
            <p>
                Listen to our students discuss the benefits of getting involved
                in STEM at Bergen.
            </p>            
        </div>
    </div>               
</div>


    <div class="info">                            
            <div class="info-img">
                <img  src="http://www.bergenstem.org/images/uav.jpg"  class="img-fluid" alt="Responsive image">
            </div>  
            <div class="info-content">
            <h4>3SP</h4>
            <p>
                The STEM Student Scholars Program 
            </p>                       
            <p>
                Promotes excellence
                in knowledge, skills and ability of a select group of STEM students                        
                to ensure their success in securing research internships and successful                        
                transfer to their targeted 4-year institution.
            </p>
            <a href="#">Learn More</a>
        </div>  
    </div>

    <div class="background-fluid">
        <div class="info">                            
            <div class="info-img">
                <img  src="images/groundstation.jpg"  class="img-fluid" alt="Responsive image">
            </div>  
            <div class="info-content">
            <h4>Running Start Program</h4>
            <p>
                Excellence through preparation
            </p>                       
            <p>
                Prep Classes are designed to give students a better 
                foundation to start the courses they will be taking in 
                the upcoming semesters.
            </p>
            <p>
                Eligible students have the option of taking the respective 
                proficiency exam after completing the boot camp and possibly 
                test out of the course.
            </p>
            <a href="https://bergen.edu/faculty-staff/grants-administration/awards/stem/running-start-program/">Running Start Program</a>

        </div>  
    </div>
    </div>
    
                  
</div>
</div>

<% include partials/landing-footer %>