<% include ../partials/header %>

<!-- <div class="project-header">
    <header class=jumbotron>
        <div class="container">
            <h1 class="display-1">Student Projects</h1>  
            <hr>            
        </div>
    </header>
</div>
     -->

    <header>
        <div class="header">
            <h1>
            Student Projects
            </h1>
        </div>
    </header>
      
<%= currentUser %>
        
<div class="projects-container">
    <!-- <nav>        
        <ul>
            <% projects.forEach(function(project){ %>
            <li><a href="/projects/<%= project._id%>">
                    <button class="btn btn-sm btn-light"><%= project.name %>></button>
                </a>
            </li>
            <% }); %>
        </ul>        
    </nav> -->

    <section class="projects">
        <% projects.forEach(function(project){ %>
            <div class="project">
                <div class="project-title">
                    <p><%= project.name %></p> 
                </div>                
                <img class="project-img" src="<%= project.img%>" alt="">
                <div class="project__overlay">                
                    <p>
                        <%= project.desc.substring(0,100);%>...
                    </p>                        
                </div>
                <div class="project-btn">
                    <a href="/projects/<%= project._id%>"><button class="btn btn-sm btn-light">View →</button></a>                 
                    <% if(currentUser) { %>
                        <a href="/projects/<%= project._id%>/edit"><button class="btn btn-sm btn-warning">Edit</button></a>                 
                        <form action="/projects/<%= project._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <!-- <a href="/projects/<%= project._id%>?_method=DELETE"><button class="btn btn-sm btn-danger">Delete</button></a>                  -->
                    <% } %>
                    
                </div>                
            </div>
        <% }); %>
    </section>

</div>
<% include ../partials/footer %>