<% include ../partials/header %>
<header>
        <div class="header">
            <h1>
            <%=project.name%>
            </h1>
        </div>
    </header>
      
        
</header>
<div class="container project-show">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img src="<%=project.img%>" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12">
            <h4>About</h4>
            <hr>
            <p style="white-space: pre-wrap"><%= project.desc %></p>           
        </div> 
    </div>
    <div class="row justify-content-around">        
        <div class="col-md-4">
            <h4>Team</h4>
            <hr>
            <!-- <ul> -->
                <% const teamArray = project.team.split(';');%>
                <% teamArray.forEach((member) => { %>
                    <p><%= member %></p>
                <% }); %>
            <!-- </ul> -->
        </div>
        <div class="col-md-4">
            <h4>Advisor</h4>
            <hr>
            <p><%= project.advisor %></p>
        </div>
    </div>
        
            
            

</div>

<% include ../partials/footer %>
