html {
    font-size: 1rem;
}

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: var(--gray-dark);
    /* color: rgb(69, 69, 75); */
    
}

img, iframe {
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h3, h4, h5 {
    font-weight: 700;
}


.navbar {
  transition: all 350ms cubic-bezier(.25,.8,.25,1);  
}

.navbar-bg {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar-landing {    
    padding: 30px 30px;
    background: transparent;
    color: white;
}



.header{
    display: grid;
    font-family: "Arial";
    /* outline: 4px solid blueviolet; */
    display:flex;
    align-items:center;
    justify-content: center;
    height: 200px;  
    width: 100%;
  }

  .header h1 {
      font-size: 4rem;
  }

/* =================
    LANDING
================= */
#myCanvas {
    margin: 0;
    position: absolute;
    top: 0;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.overlay {
    height: 60vh;
    width: 100%;
    background: rgba(20, 20, 20, 0.63);
    background: rgba(233, 230, 230, 0.267);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}   

.landing-container {
    /* outline: 4px solid black; */

    height: 60vh;
    width: 100%;
}

.landing {
    overflow: hidden;
    height: 60vh;
    width: 100%;
}

.landing-title {
    font-weight: 500;
    color: rgb(229, 236, 234);
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
}



.background-fluid {
    background: #f5f4f4;
}


/* =================
    CONTENT
================= */
.content {
    /* outline: 1px solid orangered; */
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 2% 5%;
    min-height: 40vh;
    align-content: center;   
    align-items: center;
}

.content-text {
    /* outline: 1px solid midnightblue; */
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 300px;
    min-width: 50px;
    margin: 3%;
}

/* =================
    INFO
================= */

/* .video-text {
    align-self: center;
}


.video-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */


.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}

.info {
    /* outline: 4px solid pink; */
    min-height: 80vh;
    padding: 10%;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 60px;
    align-items: center;
    justify-content: space-around;
}


.info-content {
    align-self: center;
}

.info-content p:first-of-type {
    font-size: 1.2rem;
}

/* =================
    RESEARCH
================= */
.about-container {
    /* outline: 2px solid yellowgreen; */
    margin-bottom: 50px;
}

.about-container h5 {
    font-weight: bold;
}

.about-container .row > *{
    padding: 15px;
    outline: 3px orangered;
}




/* =================
    FOOTER
================= */
.footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    align-content: center;
    /* align-items: flex-end; */
    /* background: #eceaf0; */
    /* outline: 4px sandybrown; */
}

.footer-item {
    display: flex;
    flex-direction: column;  
    /* outline: 4px solid green;   */
    text-align: center;
    margin: 15px 20px;
}

.footer-item .lead {
    margin-top: 10px;
}

.footer-item:first-of-type{
    align-self: center;
}
/* .footer-item:first-of-type {
    text-align: left;
}
.footer-item:last-of-type {
    text-align: right;
} */

/* 
.footer .row{   
    width: 100%;
    margin: 1% 3%;
} */

/* .footer .col-md-3 {    
    padding: 20px;
    text-align: center;
    align-self: center;
} */


.footer-item > * {
    margin: 0;
    padding: 0;
}

.footer .lead {
    /* font-weight: 700; */
    font-size: 1.3em;
    margin-bottom: 4px;
    text-align: center;
}

.footer .btn, .footer a {
    margin: 3px 0;
    
}

.footer .btn {
    font-size: 1em;
}

/* =================
    MEDIA
================= */
@media (max-width:1000px) {
    .display-1{
        font-size: 3.5rem;
    }

    .field h1 {
        font-size: 1.8rem;
    }

}

@media (max-width:768px) {
    .content {
        grid-gap: 40px;
    }
    
    .landing {
        background-position: bottom center;
    }

    .header h1 {
        font-size: 2.5rem;
    }

} 

@media (max-width:480px) {
    .display-1 {
        font-size: 2.5rem;
    }

    
    
    .media {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .field h1 {
        font-size: 1.5rem;
    }
}

