body {
    margin-top: 50px;
    /* background: #e7e4e9; */
}

h1 {
    text-align: center;
}

header {
    /* min-height: 30vh; */
    display: flex;
    align-items: center;
}

.jumbotron {
   background: none;
}
/* ============= */
/*    FIELD      */
/* ============= */


/* ============= */
/*    PROJECTS   */
/* ============= */


.projects-container {
    display: grid;
    /* grid-template-columns: 150px 1fr; */
}

.projects-container nav {
    position: fixed;
    top: 50%;
    z-index: 4;

}



.projects {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
}




.project {
    background: rgb(231, 231, 235);
    width: 300px;
    height: 300px;
    margin: 2%;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1;
    grid-template-rows: 50px 1fr 40px;    
    /* background: #ffff; */
    
    border-radius: 2%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.23);
}

.project-title {
    text-align: center;
    font-size: 1.2rem;
    /* align-self: flex-end; */
}

.project-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
}

.project-img {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;    
    box-shadow: none;
} 

.project-img img {
    object-fit: cover;
}

.project-btn {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    /* outline: 4px solid slateblue; */
    
}

.project-btn .btn {
      align-self: center;
      box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      transition: all 0.1s;
}

.project-btn .btn-light:hover {
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      background: rgb(253, 253, 253);
}

.project-btn form {
    display: inline-block;
}

.project__overlay {
    background: #313130be;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: baseline;
    align-content: center;
    transition: 0.2s;
    transform: translateX(100%);
    padding: 15px;
    
}

.project__overlay p {
    color: aliceblue;
}


.project:hover .project__overlay {
    transform: translateX(0);
}


/* ========
  SHOW
======== */
.project-show .row > * {
    padding: 40px;
    align-items: center;
    /* outline: 4px solid teal; */
}

.project-show .col-md-12:first-of-type {
    display: flex;
}


/* ========
  FOOTER
======== */
footer {
    margin-top: 50px;
}

@media (max-width:768px) {

    .project {
        grid-template-rows: 40px 40px 1fr;  
        margin: 5% 2%;        
    }

    .project-title {
        align-items: flex-end;
    }

    .project-btn {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    .project-img, .project__overlay {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
    }

    
}